name: "Release"

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  publish:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        # This splits the job into two parallel builds
        include:
          - platform: "windows-latest"
            target: "x86_64-pc-windows-msvc"
          - platform: "ubuntu-latest"
            target: "aarch64-linux-android"

    runs-on: ${{ matrix.platform }}
    
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.ADMIN_PAT }}
          fetch-depth: 0 

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm install

      # 1. Automate Version Bump (Only runs on one of the matrix jobs)
      - name: Automated Version Bump
        if: matrix.platform == 'windows-latest'
        id: version_bump
        uses: phips28/gh-action-bump-version@master
        with:
          tag-prefix: 'v'
        env:
          GITHUB_TOKEN: ${{ secrets.ADMIN_PAT }}

      # 2. Setup Rust
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      # 3. Build & Release
      - name: Build and Release
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_ANDROID_KEYSTORE: ${{ secrets.ANDROID_KEYSTORE_B64 }}
          TAURI_ANDROID_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_STORE_PASSWORD }}
          TAURI_ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          TAURI_ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
        with:
          tagName: v__VERSION__
          releaseName: 'BooruRamen v__VERSION__'
          releaseDraft: false
          prerelease: false
          # Uses the specific target for THIS job in the matrix
          args: --target ${{ matrix.target }}
